body {
    width: 2000px;
background: rgb(47, 50, 65);
margin: auto;
}

/* img .logo {
     max-height: 600px;
     float: right;
} */

header, main, footer {
    min-width: 855px;
}


main {
    width: 1800px;
    margin: auto;
}
section.leftField{
    width: 700px;
    /*background: blue;*/
    background: none;
    padding: 7px;
    /*border: 1px solid;*/
    /*color: black;*/
    margin: auto;
    float: left;

}

section.rightField{
    width: 700px;
    /*background: green;*/
    padding: 7px;
    border: 1px;
    color: white;
    margin: auto;
    float:right;
}


div div{
    width: 92px;
    height: 92px;
    /*background: rgb(27, 26, 102);*/
    /*border: 1px solid;*/
    /* padding: 40px; */
    
    /* border-bottom: 10px; */
    /*border-color: black;*/
    float: left;
    /* margin: auto; */
}

div div:hover {
    background: cyan ;
    opacity:0.5;
}

div div.clicked {
    /*background: yellow;*/
    pointer-events: none;
}

div div.clicked.hit {
    background: red;
}

div div.fill1 {
    background: none;
    border: none;
    background-image: url("twoShip.png");
    
    /* position: relative; */
    height: 200;
    width: 200;
    /* top: 5px;
    left: 5px; */
    cursor: pointer;
    -webkit-user-drag: auto;
}

/* [draggable=true] {
    cursor: move;
} */

.Left{
    transform: rotate(180deg);
}
.Down{
    transform: rotate(90deg);
}

.Up{
    transform: rotate(-90deg);
}

.playerboard{
    position: relative;
    width: 680px;
    height: 738px;
    top: -720px;
    left: -11px;
    z-index: -20;
}

.opponentboard{
    position: relative;
    height: 728px;
    width: 669px;
    top: -730px;
    left: 395px;
    z-index: -20;
}

.ship5-1{
    height: 70px;
    width: 100px;
}

.ship5-2{
    height: 70px;
    width: 100px;
}

.ship5-3{
    height: 70px;
    width: 100px;
}

.ship5-4{
    height: 70px;
    width: 90px;
}


.hitOrMiss{
    visibility: hidden;
    width: 85px;
    height: 85px;
    position: fixed;
    float: top;
}

<<<<<<< HEAD
.miss{
    opacity:0.5;
}
=======

>>>>>>> 0cd48eb3e23059574a79efacc1b9f0d173d10a9a

.visible{
    visibility: visible !important;
}
<<<<<<< HEAD

.bigDick {
    background: pink;
    opacity:0.5;
}

.smallDick{
    background: darkred;
    opacity:0.5;
}
=======
>>>>>>> 0cd48eb3e23059574a79efacc1b9f0d173d10a9a
