body {
    width: 1880px;
background: rgb(47, 50, 65);
margin: auto;
height: 1080px;
overflow: none;
}

header h1 {
    padding: 10px;
    
    background: blue;
    width: 470px;
    height: 180px;
    border: 3px;
    border-color: black;
    border-style: solid;
    float: left;
    margin-left: 50px;
}



header h1.status.notwaiting::before{
    content: "Your Turn";
}

header h1.status.opponentsturn::after{
    content: " Opponents turn"
}

header img {
    float: right;
    margin-right: 100px;
}

header {
    min-height: 200px;
}



header {
    margin-bottom: 100px;
 
}

header, main, footer {
    min-width: 855px;
}


main {
    width: 1800px;
    margin: auto;
}
section.leftField{
    width: 700px;
    background: none;
    padding: 7px;
    margin: auto;
    float: left;
    pointer-events: none;

}

section.rightField{
    width: 700px;
    padding: 7px;
    border: 1px;
    color: white;
    margin: auto;
    float:right;
}


div div{
    width: 92px;
    height: 92px;
 
    float: left;
  
}

div div:hover {
    background: cyan ;
    opacity:0.5;
}

div div.clicked {
    pointer-events: none;
}

div div.clicked.hit {
    background: red;
}

div div.fill1 {
    background: none;
    border: none;
    background-image: url("twoShip.png");
    height: 200;
    width: 200;
    cursor: pointer;
    -webkit-user-drag: auto;
}



.Left{
    transform: rotate(180deg);
}
.Down{
    transform: rotate(90deg);
}

.Up{
    transform: rotate(-90deg);
}

.playerboard{
    position: relative;
    width: 680px;
    height: 738px;
    top: -720px;
    left: -11px;
    z-index: -20;
}

.opponentboard{
    position: relative;
    height: 728px;
    width: 669px;
    top: -730px;
    left: 395px;
    z-index: -20;
}

.ship5-1{
    height: 70px;
    width: 100px;
}

.ship5-2{
    height: 70px;
    width: 100px;
}

.ship5-3{
    height: 70px;
    width: 100px;
}

.ship5-4{
    height: 70px;
    width: 90px;
}


.hitOrMiss{
    visibility: hidden;
    width: 85px;
    height: 85px;
    position: fixed;
    float: top;
}

.miss{
    opacity:0.5;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.visible{
    visibility: visible !important;
}

.bigDick {
    background: pink;
    opacity:0.5;
}

.smallDick{
    background: darkred;
    opacity:0.5;
}

div div.disabled {
    pointer-events: none;
  

}
